<div class="bg-gray-200 py-20 px-6">
  <div class="max-w-[1152px] mx-auto">
    <div class="text-center mb-16">
      {% if section.settings.tribe_heading != blank %}
        <h2 class="text-3xl text-center font-semibold text-gray-800">{{ section.settings.tribe_heading }}</h2>
      {% endif %}
      {% if section.settings.tribe_message != blank %}
        <p class="text-gray-600 mt-2">{{ section.settings.tribe_message }}</p>
      {% endif %}
    </div>
    <div class="flex tab:flex-row flex-wrap justify-between pt-0 px-0 pb-14 md:pb-0 md:pr-20 tab:pr-0">
      {% for block in section.blocks %}
        <div class="w-full md:w-[calc(33.333%-20px)] tab:pr-8 lg:pr-8 mb-14">
          <div
            class="bg-white p-6 rounded-lg shadow-xl transform  hover:rotate-0 transition duration-300 h-full relative"
            style="transform: rotate({{ block.settings.card_rotate }}deg);"
          >
            <h3 class="mb-2 text-center font-Play-Fair!">{{ block.settings.name }}</h3>
            <p class="text-[18px] text-gray-600 leading-relaxed font-moonTime pb-[30px]">
              {{ block.settings.testimonial }}
            </p>
            <div class="flex gap-4  text-gray-500 text-lg absolute bottom-2">
              {% if block.settings.whatsapp != blank %}
                <span>{{ block.settings.whatsapp | link_to: block.settings.social1 }}</span>
              {% endif %}
              {% if block.settings.instagram != blank %}
                <span>{{ block.settings.instagram | link_to: block.settings.social2 }}</span>
              {% endif %}
              {% if block.settings.linkedin != blank %}
                <span>{{ block.settings.linkedin | link_to: block.settings.social3 }}</span>
              {% endif %}
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Voice Of Our Tribe",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "tribe_heading",
      "label": "Heading",
      "default": "Voice Of Our Tribe"
    },
    {
      "type": "inline_richtext",
      "id": "tribe_message",
      "label": "Voice Of Our Tribe Message"
    }
  ],
  "blocks": [
    {
      "name": "Slide",
      "type": "slide",
      "settings": [
        {
          "type": "range",
          "id": "card_rotate",
          "label": "Card Rotation",
          "min": -10,
          "max": 10,
          "step": 1,
          "default": -3
        },
        {
          "type": "text",
          "id": "name",
          "label": "Name"
        },
        {
          "type": "textarea",
          "id": "testimonial",
          "label": "Content"
        },
        {
          "type": "header",
          "content": "Social Links"
        },
        {
          "type": "html",
          "id": "whatsapp",
          "label": "Whatsapp"
        },
        {
          "type": "url",
          "id": "social1",
          "label": "Whatsapp Link"
        },
        {
          "type": "html",
          "id": "linkedin",
          "label": "LinkedIn"
        },
        {
          "type": "url",
          "id": "social3",
          "label": "Linkedin Link"
        },
        {
          "type": "html",
          "id": "instagram",
          "label": "Instagram"
        },
        {
          "type": "url",
          "id": "social2",
          "label": "Instagram Link"
        }
        
      ]
    }
  ],
  "presets": [
    {
      "name": "Tribe Voices"
    }
  ]
}
{% endschema %}
